<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/head" />

<body>
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{Users.message}"></h2>
		<form class="navbar-form" action="/user/list">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50"
					th:placeholder="#{Placeholder.searchByNameSurname}">
			</div>
			<button type="submit" class="btn btn-default"
				th:text=#{Search.message}></button>
		</form>
		<p th:text="#{Users.list}"></p>

		<form method="post" action="/user/delete">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th th:text="#{Name.message}"></th>
							<th th:text="#{Email.message}"></th>
							<th th:text="#{Invitation.message}"></th>
						</tr>
					</thead>
					<tbody>
						<tr id="userRow" th:each="user : ${usersList}">
							<td th:text="${user.name}"></td>
							<td class=emailData th:text="${user.email}"></td>
							<td><a sec:authorize="hasRole('ROLE_USER')"
								th:text="#{Send.message}"
								th:href="${'/invitation/add/' + user.id}"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><input
								th:id="'eliminar'+${user.email}" name="userDelete"
								th:value="${user.email}" type="checkbox" />Eliminar</td>
						</tr>
					</tbody>
				</table>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary">Eliminar</button>
					</div>
				</div>

			</div>
		</form>
		<footer sec:authorize="hasRole('ROLE_USER')"
			th:replace="fragments/pagination"></footer>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>